<%- include('./partials/_header') -%>

<body>

  <!-- Navigation -->
  <%- include('./partials/_navigation') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Add New Post</h1>

          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form action="/posts/<%= selectPost._id %>?_method=PUT" method="POST">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Post Title</label>
              <input 
                type="text" 
                class="form-control" 
                placeholder="Post Title *" 
                name="title" 
                id="title" 
                value="<%= selectPost.title %>"
                required data-validation-required-message="Please enter your name."
              >
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Post Detail</label>
              <textarea 
                rows="5" 
                class="form-control" 
                placeholder="Post Detail *" 
                name="detail" 
                id="detail" 
                required data-validation-required-message="Please enter a message."
              >
                <%= selectPost.detail %>
              </textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <a href="/posts/<%= selectPost._id %>?_method=PUT">
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Update</button>
          </a>
        </form>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <%- include('./partials/_footer') -%>

  <!-- Bootstrap core JavaScript -->
  

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

</body>

</html>